{% extends base.html %}

{% block facts %}

<div class="facts">
    <h1>10 фактов о бордер-колли.</h1>
    <img src="photos/sca.webp" alt="first dogo">
    <p class="facts-par">Собака породы Бордер-колли - <span>самая умная собака в мире</span>. Но это не единственный
        интересный факт об этой уникальной породе.
        Эти собаки умны, имеют разноцветные глаза и их часто путают с австралийскими овчарками.
        Бордер-колли обладают множеством качеств, которые делают их чрезвычайно универсальными собаками,
        они выделяются среди других своим характером, преданностью и предрасположенностью к обучению.</p>
    <h2>1. Бордер-колли - самая умная собака в мире?</h2>
    <p class="facts-par">Да, действительно это так, бордер-колли - самая умная собака в мире!
        Психолог Стенли Корена в своей книге «<span>Интеллект собак</span>» (1994) утверждает, что бордер-колли являются
        самыми умными породами собак в мире, и этому есть доказательства.
    <p class="facts-par"><span>Глобальный рейтинг кинологического интеллекта</span> основан на трех пунктах:</p>
    <li>Инстинктивный интеллект.</li>
    <li>Адаптивный интеллект.</li>
    <li>Интеллект работы и послушания.</li>
    <p class="facts-par">Самые умные породы могут запоминать команду, используя менее чем 5 повторений и, как правило,
        всегда подчиняются первому же приказу хозяина.
    <p class="facts-par">После нескольких исследований Стэнли Корен доказал, что бордер-колли самая умная собака в
        мире.</p>
    </p>
    <h2>2. Сколько упражнений нужно для бордер-колли?</h2>
    <p class="facts-par">Бордер-колли являются невероятно <span>активными собаками</span> и, для полноценного и
        всестороннего развития, им требуется много упражнений.</p>
    <p class="facts-par">Если им не дают достаточно прогулок или физических упражнений,
        они страдают от серьезных поведенческих проблем, таких как деструктивность, гиперактивность, беспокойство и
        чрезмерный лай.</p>
    <p class="facts-par">В идеале этим собакам требуется около четырех ежедневных прогулок с сочетанием социализации и
        игр.</p>
    <p class="facts-par">Кроме того, не стоит забывать об умственной стимуляции, которую можно практиковать через
        послушание, собачьи способности и игры.</p>
    <img src="photos/border-kolli.jpg" alt="dogggoo">
    <h2>3. Бордер-колли: история.</h2>
    <p class="facts-par">Хотя мы не знаем истинного происхождения бордер-колли, известно лишь, что это очень старая
        порода собак.
        Она уже была известна на Британских островах между 5-м веком до н.э.</p>
    <p class="facts-par">Слово «колли» на <span>гэльском</span> означает «полезный», что говорит о том, что бордер-колли
        использовался для
        выполнения определенных функций, скорее всего, выпаса скота.</p>
    <p class="facts-par">С другой стороны, слово «граница» (Бордер) происходит от вполне конкретной границы между
        Англией и Шотландией, датируемой XVII веком.</p>
    <p class="facts-par">Тем не менее, пограничный колли не был признан на международном уровне до 1976 года.</p>
    <img src="photos/scale_2400.webp" alt="dogo">
    <h2>4. Бордер-колли как овчарка.</h2>
    <p class="facts-par"><span>Бордер-колли</span> обладает многими уникальными качествами. Среди этих невероятных
        качеств - способность бордер-колли пасти скот.
        Пограничные колли были впервые известны именно как <span>овчарки</span>.</p>
    <p class="facts-par">Благодаря использованию собак этой породы, стадо безопасно сопровождалось на пастбище,
        защищалось и контролировалось.</p>
    <p class="facts-par">В то время как у бордер-колли есть естественный руководящий инстинкт, это техника, которой
        другие породы собак нужно обучать специально.</p>
    <img src="photos/scale_24.webp" alt="dogooo">
    <h2>5. Бордер-колли как сторож.</h2>
    <p class="facts-par">Невозможно игнорировать активный и бдительный характер бордер-колли, что делает их
        фантастическими сторожевыми собаками.</p>
    <p class="facts-par">Под сторожевыми собаками имеется в виду не нападение и защиту, а патрулирование и
        предупреждение.</p>
    <img src="photos/scale_240.webp" alt="dogoss">
    <h2>6. Бордер-колли против австралийской овчарки.</h2>
    <p class="facts-par">Бордер-колли обычно путают с <span>австралийской овчаркой</span>. Поскольку и бордер-колли, и
        австралийская овчарка являются
        пастушьими собаками и очень похожи внешне, неудивительно, что их часто путают.</p>
    <p class="facts-par">Бордер-колли на самом деле является прямым предком австралийской овчарки.</p>
    <p class="facts-par">Мы можем различить эти две породы собак по ушам, которые обычно бывают прямостоячими или
        полувертикальными в случае с бордер-колли.</p>
    <p class="facts-par">Кроме того, австралийская овчарка не имеет такого большого разнообразия окраса шерсти.</p>
    <img src="photos/scale_.webp" alt="two dogos">
    <h2>7. Особенности цвета глаз.</h2>
    <p class="facts-par"><span>Гетерохромия</span> у собак - это генетическое различие, которое может наблюдаться у
        собак, кошек и даже людей.
        Это явление означает разный цвет глаз, и является наследственным явлением.</p>
    <p class="facts-par">Собаки бордер-колли могут родиться с одним голубым глазом, а другим коричневым.</p>
    <p class="facts-par">Бордер-колли также могут нести ген альбинизма, который появляется в виде белых пятен вокруг
        глаз.</p>
    <img src="photos/scale_2.webp" alt="good dogos">
    <h2>8. Очень разнообразный окрас.</h2>
    <p class="facts-par">Бордер-колли могут иметь двухцветный, трехцветный, белый, черный или серый <span>шерстяной покров</span>.
        Эта порода собак также может быть коротко- или длинно- шерстной.</p>
    <p class="facts-par">Кроме того, бордер-колли имеют плотный подшерсток, который позволяет им поддерживать
        температуру тела в холодном климате.</p>
    <p class="facts-par">Но, независимо от длины шерсти, все бордер-коли, как правило, очень красивы.</p>
    <img src="photos/scale.webp" alt="DOGGGY">
    <h2>9. Необыкновенная преданность и темперамент.</h2>
    <p class="facts-par">Это может показаться очевидным, так как все собаки <span>верны</span>,
        однако порода собак бордер-колли известна своей исключительной преданностью своим хозяевам.</p>
    <p class="facts-par">Кроме того, они, как правило, чрезвычайно чувствительны к проявлению чувств по отношению к
        своим владельцам.</p>
    <p class="facts-par">Однако они могут быть сдержанными и стеснительными с незнакомцами.</p>
    <img src="photos/scal.webp" alt="shyni">
    <h2>10. Бордер-колли, как собака для детей.</h2>
    <p class="facts-par">Бордер-колли - <span>идеальная собака для детей</span>. Кроме того, они послушные,
        организованные и неутомимые собаки.</p>
</div>

{% end %}